.input-field{
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    background-color: #ececeb ;
    opacity: 0.6;
  }
  .input-field:focus{
    outline: 2px solid rgb(24, 102, 220);
    
  }
  .label {
    font-size: 18px;
    font-weight: 500;
  }