
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

a{
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
 
}
img {
  width: 100%;
}
.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.flex-row{
  flex-direction: row;
}
.justify-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-start{
  align-items: flex-start;
}
.grow-1{
  flex-grow: 1;
}
.g-1{
  gap: 10px;
}
.g-2{
  gap: 20px;
}
.g-3{
  gap: 30px;
}
.mt-1{
  margin-top: 4px;
}
.mt-2{
  margin-top: 6px;
}
.mt-3{
  margin-top: 10px;
}
.mt-4{
  margin-top: 10px;

}
.width-80{
  width: 80%;
}